In [1]:
import random
score=[[0]*40 for i in range(5)]
for i in range(5):
   for j in range(40):
      score[i][j]=random.randint(40,100)

In [2]:
len(score)

5

In [3]:
print(score)

[[72, 96, 50, 76, 42, 80, 88, 49, 73, 90, 56, 61, 59, 42, 47, 71, 60, 83, 52, 80, 60, 40, 49, 84, 73, 79, 82, 42, 49, 98, 62, 52, 48, 87, 43, 75, 45, 99, 40, 87], [93, 78, 86, 43, 86, 47, 84, 68, 99, 41, 88, 88, 50, 72, 89, 79, 83, 89, 90, 53, 77, 43, 53, 82, 84, 83, 52, 100, 98, 64, 99, 94, 69, 76, 100, 87, 96, 50, 92, 51], [50, 52, 99, 41, 56, 74, 81, 62, 68, 81, 47, 96, 69, 40, 80, 80, 72, 65, 41, 47, 65, 98, 42, 55, 96, 53, 95, 54, 90, 73, 61, 65, 100, 59, 57, 50, 100, 57, 59, 75], [45, 42, 49, 82, 85, 93, 94, 76, 75, 91, 66, 45, 89, 74, 89, 61, 54, 69, 44, 62, 88, 95, 48, 41, 68, 92, 44, 59, 56, 82, 66, 53, 58, 47, 66, 53, 84, 68, 67, 57], [66, 67, 50, 84, 92, 56, 79, 47, 79, 51, 45, 59, 42, 90, 73, 42, 65, 59, 100, 79, 45, 42, 85, 95, 44, 88, 76, 84, 57, 45, 75, 93, 88, 82, 77, 52, 92, 64, 98, 95]]

In [5]:
len(score[0])

40

In [6]:
A = [[0]*8 for i in range(8)]
for i in range(8):
    A[i][0] = 1
    A[i][i] = 1
for i in range(2,8):
    for j in range(1,i):
        A[i][j] = A[i - 1][j - 1] + A[i - 1][j]
for i in range(1, 8):
    for j in range(i+1):
        print(A[i][j], " ", end='')
    print()

1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1
1  7  21  35  35  21  7  1

In [7]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
column,row = 10,10
x = np.zeros((column, row))

In [16]:
x

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [13]:
import random as rd
lis=list(range(1,10))
for i in range(1, 10):  #外圈
    for j in range(1, 10):  #內圈
        num=rd.randint(0,9)  
        print('%3d'%(num), end='')
        lis.append(num)
    print('\n')

  6  5  8  5  8  5  3  4  4

  7  4  7  9  0  1  2  4  3

  8  5  0  8  5  4  4  8  9

  9  6  3  6  1  1  3  4  7

  9  2  7  1  2  3  7  9  6

  1  9  0  1  7  1  3  3  0

  7  7  7  0  4  5  8  9  8

  4  2  9  2  3  6  4  7  4

  7  4  0  1  5  1  7  2  1

In [17]:
# keep data in array
import random as rd
lis=list(range(1,10))
for i in range(0, 10):  #外圈
    for j in range(0, 10):  #內圈
        num=rd.randint(0,9)  
        print('%3d'%(num), end='')
        x[i][j] = num
    print()

  7  8  0  8  6  7  1  7  3  6
  0  4  8  3  3  0  3  8  0  7
  9  8  9  3  7  9  0  4  5  0
  0  7  1  8  4  3  4  1  5  0
  5  3  9  9  4  5  5  6  3  8
  3  2  4  2  0  2  2  0  4  8
  0  1  6  2  4  1  6  7  3  6
  2  3  7  8  8  8  5  5  1  1
  7  9  5  5  2  6  7  7  9  0
  8  0  9  6  7  3  8  9  3  5

In [18]:
x

array([[7., 8., 0., 8., 6., 7., 1., 7., 3., 6.],
       [0., 4., 8., 3., 3., 0., 3., 8., 0., 7.],
       [9., 8., 9., 3., 7., 9., 0., 4., 5., 0.],
       [0., 7., 1., 8., 4., 3., 4., 1., 5., 0.],
       [5., 3., 9., 9., 4., 5., 5., 6., 3., 8.],
       [3., 2., 4., 2., 0., 2., 2., 0., 4., 8.],
       [0., 1., 6., 2., 4., 1., 6., 7., 3., 6.],
       [2., 3., 7., 8., 8., 8., 5., 5., 1., 1.],
       [7., 9., 5., 5., 2., 6., 7., 7., 9., 0.],
       [8., 0., 9., 6., 7., 3., 8., 9., 3., 5.]])